<ion-view title="登录"  hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear ccc ion-close-round" style="color: #1d5574" ui-sref="me"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear ccc" style="color: #1d5574" ui-sref="registered">注册</button>
    </ion-nav-buttons>
    <ion-content class="selectBg login paddingTen">
        <div class="touxiang"></div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="输入账号" ng-model="name">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="输入密码">
            </label>
            <button class="button button-full ccc" ng-click="login(name)">登录</button>
        </div>
        <a href="javascript:;" class="ccc forget">忘记密码？</a>
        <p class="ccc">其他登录方式</p>
        <div class="otherIcon">
            <a href="javascript:;"><img src="./images/outher-icon_03.png"></a>
            <a href="javascript:;"><img src="./images/outher-icon_05.png"></a>
            <a href="javascript:;"><img src="./images/outher-icon_07.png"></a>
        </div>
    </ion-content>
</ion-view>